body {
  margin: 0;
  padding: 0;
  font-family: arial;
  overflow-x: hidden;
}

li {
  list-style: none;

}

a {
  text-decoration: none !important;
  margin-right: 5px;
  color: #fff !important;
}

header {
  height: 80px;
  position: relative;
  z-index: 1100;

}

.scroll-box {
  border: 1px solid #ccc;
  background: #faf9f9;
  padding: 15px;
}

.scroll-content-container {
  height: 300px;
  overflow: hidden;
  position: relative;
  margin-top: 20px;
}

.scroll-content {
  display: inline-block;
  padding-top: 40px;
  animation: scrollUp 10s linear infinite;
}
.scroll-content:hover{
  animation:0s
}

.program-section {
  position: relative;
  padding: 90px 0px 55px;
  background-color: #f9f9f9;
}

.program-section .title-box {
  position: relative;
  margin-bottom: 65px;
}

.program-section .title-box h3 {
  position: relative;
  font-size: 32px;
  color: #1c1c1c;
  font-weight: 400;
  float: left;
  font-family: 'Roboto', sans-serif;
}

.program-section .title-box.alternate h3 {
  float: none;
  text-align: center;
  width: 100%;
}

.program-section .title-box a {
  font-size: 16px;
  color: #236ed3;
  float: right;
  font-weight: 700;
  margin-top: 12px;
  text-transform: uppercase;
  border-bottom: 1px solid #236ed3;
  font-family: 'Roboto', sans-serif;
}

.program-block {
  position: relative;
  margin-bottom: 45px;
}

.program-block .inner-box {
  position: relative;
  margin-left: 40px;
  border: 1px solid #eaeaea;
  padding: 20px 28px 30px 62px;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

.program-block .inner-box:hover {
  border-color: #295ead;
}

.program-section.style-two .program-block .inner-box {
  background-color: #ffffff;
}

.program-block .inner-box .icon-box {
  position: absolute;
  left: -35px;
  top: 50%;
  width: 69px;
  height: 30px;
  color: #ffffff;
  font-size: 36px;
  margin-top: -16px;
  text-align: center;
  background-color: #295ead;
}

.program-block .inner-box .icon-box .icon {
  position: relative;
  z-index: 1;
}

.program-block .inner-box .icon-box:before {
  position: absolute;
  content: '';
  left: 0px;
  top: -29px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 30px solid #295ead;
}

.program-block .inner-box .icon-box:after {
  position: absolute;
  content: '';
  left: 0px;
  bottom: -29px;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-top: 30px solid #295ead;
}

.program-block .inner-box h3 {
  position: relative;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.program-block .inner-box h3 a {
  position: relative;
  color: #282828;
  font-size: 22px;
  font-weight: 700;
  text-transform: capitalize;
  transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
}

.program-block .inner-box h3 a:hover {
  color: #295ead;
}

.program-block .inner-box .text {
  position: relative;
  color: #6b6b6b;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 300;
}

.carr {
  padding: 0px 280px;
}

.circle {
  justify-content: center;
}

.service-btn {
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: #F7542B;
  color: #fff;
  font-weight: bold;
}

.service-btn:hover {
  background-color: #FFCA2C;
  color: #1c1c1c;
}

.about-section {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid #F7542B;
}

.img-thumbnail {
  color: #F7542B !important;
}

@keyframes scrollUp {
  0% {
    transform: translateY(40%);
  }

  100% {
    transform: translateY(-100%);
  }
}

.carousel-item {
  height: 60vh;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (max-width: 576px) {
  .carousel-item {
    height: 40vh;
  }

  .carousel-caption h5,
  .carousel-caption p {
    font-size: 14px;
  }
}

/* .navbar-nav .nav-link {
  transition: all 0.3s ease;
} */

.navbar-nav .nav-link:hover {
  background-color: #FFCA2C !important;
  color: #000 !important;
}

.scroll-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-right: 15px;
}

.scroll-content-container {
  flex-grow: 1;
  overflow-y: auto;
}

.carousel-inner img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 991.98px) {
  .scroll-box {
    padding-right: 0;
  }
}

header {
  background-image: linear-gradient(to right, #232B3C, #3a4f7d);
  position: sticky;
  top: 0;
}
footer{
  background-image: linear-gradient(to bottom, #232B3C, #3a4f7d);
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #232B3C;
    padding: 1rem;
    border-radius: 0 0 10px 10px;
  }

  .navbar-collapse {
    max-height: 0;
    overflow: hidden;
    /* transition: max-height 0.5s ease-out; */
  }

  .navbar-collapse.show {
    max-height: 500px;
    /* transition: max-height 0.5s ease-in; */
  }
}



.whatsapp-toggle {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;
}

.whatsapp-toggle a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  font-size: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.whatsapp-toggle a:hover {
  background-color: #1ebd5a;
}

@media (max-width: 768px) {
  .fs-1 {
    font-size: 1.5rem;
  }

  .w-50 {
    width: 80% !important;
  }
}

@media (max-width: 576px) {
  .fs-1 {
    font-size: 1.2rem;
  }

  .w-50 {
    width: 90% !important;
  }

  iframe {
    height: 300px;
  }
}

.contact-box {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f8f9fa;
  margin-bottom: 20px;
}

.contact-title {
  font-weight: bold;
  margin-bottom: 10px;
}



.key-feature {
  background-image: linear-gradient(135deg, rgb(0, 113, 235) 0%, rgb(142, 34, 167) 100%);
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.image-container img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}

.image-container:hover img {
  transform: scale(1.1);
}

.eye-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-container:hover .eye-icon {
  opacity: 1;
}

.modal-img {
  max-width: 100%;
  max-height: 90vh;
  object-fit: contain;
}

.modal-body {
  text-align: center;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
}

.course-box {
  background-color: #1F2132;
  border-left: 5px solid #0d6efd;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  color: #fff;
}
